In [6]:
from glob import glob
import pandas as pd
import numpy as np

In [2]:
glob('data/twitter/*.npy')

['data/twitter/co_occ_2020_q3.npy',
 'data/twitter/co_occ_2020_q2.npy',
 'data/twitter/co_occ_2018_q4.npy',
 'data/twitter/co_occ_2020_q1.npy',
 'data/twitter/co_occ_2018_q1.npy',
 'data/twitter/co_occ_2016_q4.npy',
 'data/twitter/co_occ_2020_q4.npy',
 'data/twitter/co_occ_2018_q2.npy',
 'data/twitter/co_occ_2018_q3.npy',
 'data/twitter/co_occ_2021_q1.npy',
 'data/twitter/co_occ_2017_q1.npy',
 'data/twitter/co_occ_2019_q4.npy',
 'data/twitter/co_occ_2021_q2.npy',
 'data/twitter/co_occ_2017_q3.npy',
 'data/twitter/co_occ_2017_q2.npy',
 'data/twitter/co_occ_2021_q3.npy',
 'data/twitter/co_occ_2019_q3.npy',
 'data/twitter/co_occ_2019_q2.npy',
 'data/twitter/co_occ_2019_q1.npy',
 'data/twitter/co_occ_2017_q4.npy']

In [22]:
import numpy as np
import torch
from torch_geometric.data import InMemoryDataset, Data

In [26]:
edges = np.load('data/raw/twitter/co_occ_2020_q3.npy',)

In [27]:
x = torch.zeros((30, 2))  # TODO
y = torch.zeros((30))  # TODO

In [32]:
edge_index, edge_attr = dense_to_sparse(torch.from_numpy(edges))
data = Data(, y = y, edge_index=edge_index, edge_attr=edge_attr)

In [33]:
data.x

Empty DataFrame
Columns: []
Index: []

In [29]:
from torch_geometric.utils import dense_to_sparse

In [1]:
root = 'data'

name = 'twitter'


path = 'co_occ_2020_q3.npy'

stock_path = 'stock_data.csv'

In [2]:
from apulu.dataset.stock_graph_dataset import StockGraphDataset

In [3]:
ds = StockGraphDataset(root, name, path, stock_path)

Processing...
Done!

In [4]:
ds.data.y

array([ 0.10233115, -0.06934881,  0.12580944,  0.12789172,  0.20720371,
        0.1109164 , -0.0571026 , -0.03731639,  0.14830695,  0.14950947,
        0.09412667,  0.0148313 ,  0.22257824, -0.01834918, -0.06056043,
       -0.00269905,  0.13822062,  0.07510096,  0.05918844,  0.05521887,
       -0.02357621,  0.02376258,  0.23413353,  0.05270876,  0.12013661,
        0.0912544 ,  0.02448947,  0.02223484, -0.00933567,  0.09222514])

In [6]:
ds.data.x.shape

(30, 64)

In [5]:
!ls data/raw

stock_data.csv twitter

In [45]:
df = pd.read_csv(
                '../DataPipeline_Stock/stock_data.csv', 
                 index_col=0,
                parse_dates=['Date']
                )

In [51]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [53]:
relativedelta(month=+3)

relativedelta(month=3)

In [46]:
'co_occ_2020_q3'.split('_')

['co', 'occ', '2020', 'q3']

In [70]:
year = 2020
quarter = int('3')

In [71]:
df.Date.dt.date + relativedelta(month=+3)

0        2016-03-03
1        2016-03-04
2        2016-03-05
3        2016-03-06
4        2016-03-07
            ...
37117    2021-03-24
37118    2021-03-27
37119    2021-03-28
37120    2021-03-29
37121    2021-03-30
Name: Date, Length: 37122, dtype: object

In [81]:
curr = df[(df.Date.dt.year == int(year)) & (df.Date.dt.quarter == int(quarter))]

In [ ]:
df[]

In [93]:
df.Date.dt.quarter

0        4
1        4
2        4
3        4
4        4
        ..
37117    3
37118    3
37119    3
37120    3
37121    3
Name: Date, Length: 37122, dtype: int64

In [92]:
next_year, next_quarter = year, quarter + 1 if quarter < 4 else year + 1, 1

ValueError: too many values to unpack (expected 2)

In [90]:
df[]

,Date,High,Low,Open,Close,Volume,Adj Close,ticker_symbol
0,2016-10-03,28.262501,28.070000,28.177500,28.129999,86807200.0,26.381453,AAPL
1,2016-10-04,28.577499,28.157499,28.264999,28.250000,118947200.0,26.493999,AAPL
2,2016-10-05,28.415001,28.172501,28.350000,28.262501,85812400.0,26.505718,AAPL
3,2016-10-06,28.584999,28.282499,28.424999,28.472500,115117200.0,26.702667,AAPL
4,2016-10-07,28.639999,28.377501,28.577499,28.514999,97433600.0,26.742527,AAPL
...,...,...,...,...,...,...,...,...
37117,2021-09-24,143.690002,142.490005,142.500000,143.169998,4453500.0,143.169998,WMT
37118,2021-09-27,143.550003,141.839996,142.869995,142.250000,7083600.0,142.250000,WMT
37119,2021-09-28,142.070007,139.990005,141.880005,140.500000,6860300.0,140.500000,WMT
37120,2021-09-29,141.830002,140.320007,140.649994,140.440002,7125200.0,140.440002,WMT
37121,2021-09-30,141.729996,139.250000,140.639999,139.380005,7485900.0,139.380005,WMT

In [94]:
curr_vals = curr.pivot_table(index="Date", columns="ticker_symbol", values="Close").values.T

In [100]:
np.sign()

-1

In [11]:
df[df.ticker_symbol == 'DOW'].Date.min()

'2019-03-20'

In [13]:
import pandas_datareader as pdr
import datetime as dt

In [14]:
start = dt.datetime(2016, 10, 1)
end = dt.datetime(2021, 9, 30)

In [16]:
Data

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-03-20  53.500000  49.500000  52.750000  49.799999   2350800.0  43.397255
2019-03-21  50.000000  48.200001  49.990002  48.980000   1764700.0  42.682678
2019-03-22  49.950001  48.160000  48.799999  48.599998    844700.0  42.351540
2019-03-25  49.400002  48.000000  48.599998  49.150002    440900.0  42.830822
2019-03-26  49.750000  48.180000  49.000000  48.849998    504700.0  42.569389
...               ...        ...        ...        ...         ...        ...
2021-09-24  57.340000  56.740002  57.200001  56.810001   7964900.0  56.810001
2021-09-27  60.380001  56.880001  56.880001  59.689999  12374000.0  59.689999
2021-09-28  60.645000  59.139999  60.150002  59.459999   6681800.0  59.459999
2021-09-29  59.599998  58.770000  59.459999  58.820000   4578800.0  58.820000
2021-09-30  59.169998  57.549999  58.919998  57.560001   4929000.0  57.560001

[640 rows x 6 columns]